*{
    font-family:cursive;
    color: rgb(0, 0, 0);
    
}

a{
 color: lightseagreen
}
.image{
    box-shadow: 5px 10px 10px black;
    display: block;
    height: 20%;
    border : 0px double;
    border-style: inset;
    border-radius: 5px;
    margin : 20px; 
    border-color : rgb(234, 254, 5);
    }

h1,h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
h1{
    color :rgb(112, 111, 111);
    text-shadow: 5px 10px 10px black;
}

body{
    background-color : rgb(235, 127, 127)
}
article{
    box-shadow: 5px 10px 10px black;
    margin : 5px;
    border : 0px solid rgb(235, 127, 127);

    border-radius:5px;
    background-image: linear-gradient(grey,rgb(46, 89, 141));
}
header{
    box-shadow: 100px 10px 50px white;
    margin : 5px;
    padding:3px;
    color:rgb(40, 184, 98);
    background-image: url("https://images.unsplash.com/photo-1470125634816-ede3f51bbb42?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c3Vuc2V0JTIwcGFub3JhbWF8ZW58MHx8MHx8&w=1000&q=80");
    background-size:cover;
    border: 0px solid ;
    border-radius:10px
}
.subheading{
    box-shadow: 5px 1px 10px black;
    border-bottom: 3px solid;
}
#art1{
    inset: true;
}